*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .3s ease-in-out;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
  font-weight: normal;
  letter-spacing: 1px;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 14px;
  line-height: 1px;
  color: #3737337;
  background: #f7f7f7;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 15px;
} 

header {
  width: 100%;
  background: white;
  box-shadow: 3px 3px 1px rgba(0,0,0,.05);
  padding: 15px 0;
  margin-bottom: 30px;
  position: relative;
}

.flex-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo span {
  color: white;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 5px 0;
  text-align: center;
  text-shadow: 2px 2px 1px rgba(0,0,0,.4);
}

.logo span:nth-child(odd) {
  background: #EF5A42;
}

.logo span:nth-child(even) {
  background: #F8B763;
}

footer {
  padding: 30px 0;
  background: #3C3D41;
  color: white;
}

.footer-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.footer-col a {
  color: white;
}

.social-bar-wrap a {
  padding: 0 7px;
  font-size: 18px
}

